<!-- ko with: home -->
<div class="jumbotron">
   @using Wordament.Models;


<h2>@(DateTime.Now.DayOfWeek.ToString())'s puzzle</h2>

<a data-widget-id="3" id="nswGame" href="http://nonstopwords.com/victorantos" title="Wordsearch puzzle - play free online games.">Wordsearch by victorantos </a>
<script src="wordsearch.js" type="text/javascript"> </script>
  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Recent Scores</h2>
        <p>
           No scores yet
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More puzzles</h2>
        <p>Get more wordsearch puzzles from previous days.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Play &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact me</h2>
        <p>Please contact me for any suggestions or requests.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Contact &raquo;</a></p>
    </div>
</div>
<!-- /ko -->
